<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieFlix - Avalie Filmes</title>
    <link rel="stylesheet" href="C:\Users\cyrog\OneDrive\Área de Trabalho\adaCaixaverso\app\static\style.css">
</head>
<body>
    <div class="container">
        <h1>MovieFlix</h1>
        <form action="/" method="post">
            <input type="number" name="user_id" placeholder="Seu ID de Usuário (ex: 1)" required>
            <input type="text" name="movie_title" placeholder="Nome do Filme" required>
            <input type="number" name="rating" min="1" max="5" placeholder="Nota (1-5)" required>
            <button type="submit">Avaliar</button>
        </form>

        <h2>Últimas Avaliações</h2>
        <table>
            <thead>
                <tr>
                    <th>Usuário ID</th>
                    <th>Filme</th>
                    <th>Nota</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
                <tr>
                    <td>{{ rating.userId }}</td>
                    <td>{{ rating.movie_title }}</td>
                    <td>{{ rating.rating }}</td>
                    <td>{{ rating.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>